<!DOCTYPE html>
<html>
  <head>
    <title>Fuzzy Logic System</title>
  </head>
  <body>
    <form id="fuzzyForm">
      <!-- Pertanyaan 1 -->
      <div>
        <label>Pertanyaan 1:</label><br />
        <input type="radio" name="question1" value="C01" /> C01 Sangat mudah
        untuk mengingat apa yang dia lihat<br />
        <input type="radio" name="question1" value="C02" /> C02 Sangat mudah
        untuk mengingat apa yang dia dengar<br />
        <input type="radio" name="question1" value="C03" /> C03 Sangat mudah
        untuk mengingat apa yang dia lakukan<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency1" value="10" /> Jarang<br />
        <input type="radio" name="frequency1" value="30" /> Kadang<br />
        <input type="radio" name="frequency1" value="70" /> Sering<br />
        <input type="radio" name="frequency1" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 2 -->
      <div>
        <label>Pertanyaan 2:</label><br />
        <input type="radio" name="question2" value="C04" /> C04 Lebih menyukai
        lukisan<br />
        <input type="radio" name="question2" value="C05" /> C05 Lebih menyukai
        musik<br />
        <input type="radio" name="question2" value="C06" /> C06 Lebih menyukai
        tarian<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency2" value="10" /> Jarang<br />
        <input type="radio" name="frequency2" value="30" /> Kadang<br />
        <input type="radio" name="frequency2" value="70" /> Sering<br />
        <input type="radio" name="frequency2" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 3 -->
      <div>
        <label>Pertanyaan 3:</label><br />
        <input type="radio" name="question3" value="C07" /> C07 Cenderung
        memperhatikan rupa dan pakaian orang<br />
        <input type="radio" name="question3" value="C08" /> C08 Cenderung
        memperhatikan bahasa/pembicaraan<br />
        <input type="radio" name="question3" value="C09" /> C09 Cenderung
        memperhatikan sikap dan gerak tubuhnya<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency3" value="10" /> Jarang<br />
        <input type="radio" name="frequency3" value="30" /> Kadang<br />
        <input type="radio" name="frequency3" value="70" /> Sering<br />
        <input type="radio" name="frequency3" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 4 -->
      <div>
        <label>Pertanyaan 4:</label><br />
        <input type="radio" name="question4" value="C10" /> C10 Suka menghafal
        sesuatu dengan menulis<br />
        <input type="radio" name="question4" value="C11" /> C11 Suka menghafal
        sesuatu dengan mengucapkannya dengan suara keras berulang kali<br />
        <input type="radio" name="question4" value="C12" /> C12 Suka menghafal
        sesuatu sambil berjalan/bergerak<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency4" value="10" /> Jarang<br />
        <input type="radio" name="frequency4" value="30" /> Kadang<br />
        <input type="radio" name="frequency4" value="70" /> Sering<br />
        <input type="radio" name="frequency4" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 5 -->
      <div>
        <label>Pertanyaan 5:</label><br />
        <input type="radio" name="question5" value="C13" /> C13 Cenderung
        membawa coretan di kertas saat berbicara/presentasi<br />
        <input type="radio" name="question5" value="C14" /> C14 Cenderung
        menyampaikan secara lisan saat berbicara/presentasi<br />
        <input type="radio" name="question5" value="C15" /> C15 Cenderung
        menggerakkan tangan saat berbicara/presentasi<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency5" value="10" /> Jarang<br />
        <input type="radio" name="frequency5" value="30" /> Kadang<br />
        <input type="radio" name="frequency5" value="70" /> Sering<br />
        <input type="radio" name="frequency5" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 6 -->
      <div>
        <label>Pertanyaan 6:</label><br />
        <input type="radio" name="question6" value="C16" /> C16 Mudah terganggu
        oleh barang-barang berantakan di sekitarnya<br />
        <input type="radio" name="question6" value="C17" /> C17 Mudah terganggu
        oleh suara yang berisik<br />
        <input type="radio" name="question6" value="C18" /> C18 Mudah terganggu
        oleh benda yang bergerak<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency6" value="10" /> Jarang<br />
        <input type="radio" name="frequency6" value="30" /> Kadang<br />
        <input type="radio" name="frequency6" value="70" /> Sering<br />
        <input type="radio" name="frequency6" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 7 -->
      <div>
        <label>Pertanyaan 7:</label><br />
        <input type="radio" name="question7" value="C19" /> C19 Lebih tertarik
        dengan warna<br />
        <input type="radio" name="question7" value="C20" /> C20 Lebih tertarik
        dengan suara<br />
        <input type="radio" name="question7" value="C21" /> C21 Lebih tertarik
        dengan gerakan tubuh<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency7" value="10" /> Jarang<br />
        <input type="radio" name="frequency7" value="30" /> Kadang<br />
        <input type="radio" name="frequency7" value="70" /> Sering<br />
        <input type="radio" name="frequency7" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 8 -->
      <div>
        <label>Pertanyaan 8:</label><br />
        <input type="radio" name="question8" value="C22" /> C22 Sulit belajar
        terlalu lama apabila materi penuh tulisan yang tidak rapi<br />
        <input type="radio" name="question8" value="C23" /> C23 Sulit
        berkonsentrasi saat ada keributan atau keramaian<br />
        <input type="radio" name="question8" value="C24" /> C24 Sulit untuk
        dapat duduk dengan tenang atau diam<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency8" value="10" /> Jarang<br />
        <input type="radio" name="frequency8" value="30" /> Kadang<br />
        <input type="radio" name="frequency8" value="70" /> Sering<br />
        <input type="radio" name="frequency8" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 9 -->
      <div>
        <label>Pertanyaan 9:</label><br />
        <input type="radio" name="question9" value="C25" /> C25 Senang diajarkan
        dengan menggambarkan suatu benda di papan tulis<br />
        <input type="radio" name="question9" value="C26" /> C26 Senang diajarkan
        dengan menjelaskan dan suara yang indah<br />
        <input type="radio" name="question9" value="C27" /> C27 Senang diajarkan
        dengan berlatih dan menyentuh objek yang dibahas<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency9" value="10" /> Jarang<br />
        <input type="radio" name="frequency9" value="30" /> Kadang<br />
        <input type="radio" name="frequency9" value="70" /> Sering<br />
        <input type="radio" name="frequency9" value="90" /> Sangat Sering<br />
      </div>

      <!-- Pertanyaan 10 -->
      <div>
        <label>Pertanyaan 10:</label><br />
        <input type="radio" name="question10" value="C28" /> C28 Mementingkan
        penampilan<br />
        <input type="radio" name="question10" value="C29" /> C29 Mementingkan
        kemampuan berbicara dengan baik<br />
        <input type="radio" name="question10" value="C30" /> C30 Mementingkan
        pergerakan fisik<br />
        <label>Keterangan:</label><br />
        <input type="radio" name="frequency10" value="10" /> Jarang<br />
        <input type="radio" name="frequency10" value="30" /> Kadang<br />
        <input type="radio" name="frequency10" value="70" /> Sering<br />
        <input type="radio" name="frequency10" value="90" /> Sangat Sering<br />
      </div>

      <button type="button" onclick="calculateFuzzy()">Submit</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function calculateFuzzy() {
        const questions = $("input[name*=question]");

        const data = {};
        $(questions).each((i, a) => {
          const _classIndex = $(a).attr("name").replace(/\D/g, "");

          const key = $(a).val();
          let value = 0;

          const isChecked = $(`input[name=question${_classIndex}]`).val();
          if (key == isChecked) {
            const freq = $(`input[name=frequency${_classIndex}]:checked`);

            value = $(freq).val();
          }

          data[key] = parseInt(value || 0);
        });

        $.ajax({
          url: "http://localhost:5000/",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (response) {
            console.log(response);
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    </script>
  </body>
</html>
